.post{
  border: 1px solid;
  width: 20%;
  margin-top: 3px;
}

.post-date{
  color: gray;
}
div[data-check="true"] {
  background: #1eda17;
}

.post-destroy {
  background-color: rgb(255, 139, 139);
  color: black;
  
}